body {
    background: linear-gradient(180deg, #333232 2.4%, #484848 91.9%);
    /* width: 1310px;
    height: 103px;
    margin-left: auto;
    margin-right: auto; */
}

.navbar {
    background-color: transparent;
    color: white;
}

ul li a {
    color: #fffcfc;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-login {
    display: flex;
    width: 180px;
    height: 56px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 10px;
    background: linear-gradient(
        90deg,
        #ae8625 0%,
        #b79332 42.4%,
        #d3bb58 95.4%,
        #f7ef8a 100%
    );

    color: #fff;
    text-align: center;
    font-family: "Noto Serif Gujarati";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;
}

/* home */
.row {
    display: flex;
    align-items: center;
    margin-top: 80px;
}

h1 {
    color: #fffdfd;
    font-family: Montaga;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 85px; /* 154.545% */
    letter-spacing: 5.5px;
}

h3 {
    color: #fff9f9;
    font-family: Montaga;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 85px; /* 265.625% */
    letter-spacing: 3.2px;
}

.btn-home {
    display: flex;
    width: 246px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 20px;
    background: linear-gradient(
        90deg,
        #ae8625 0%,
        #b79332 33%,
        #d3bb58 66%,
        #f7ef8a 100%
    );

    color: var(--White, #eaeaea);
    text-align: center;
    font-family: Montaga;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;
}

.location {
    margin-top: 5px;
    color: var(--White, #eaeaea);
    text-align: center;
    font-family: Montaga;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;
    margin-left: 15px;
    align-items: center;
}

/* about */
#services {
    height: 100vh;
    display: flex;
}

.imgservices {
    z-index: 0;
    position: absolute;
}

.title-services {
    color: #fffdfd;
    text-align: center;
    font-family: Montaga;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 85px; /* 236.111% */
    letter-spacing: 3.6px;
    z-index: 1;
}

.text-services {
    color: #fffdfd;
    text-align: center;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.4px;
    /* z-index: 1; */
}

.services {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* hairstyle */
#hairstyle {
    margin-top: 5%;
}
.title {
    width: 845px;
    height: 100px;
    flex-shrink: 0;

    border-radius: 0px 24px 0px 0px;
    background: linear-gradient(
        90deg,
        #ae8625 0%,
        #b79332 38.4%,
        #d3bb58 97.4%,
        #f7ef8a 100%
    );
}

.title p {
    color: #fff;
    text-align: center;
    font-family: Montaga;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.2px;
}

/* Hairstyle */
.card {
    background: transparent;
    border: none;
    justify-content: center;
}

/* footer */

.footer {
    height: 457px;
    flex-shrink: 0;

    background: var(--Black, #262626);
}
