body {
    background-color: #a3353b;
}

header {
    position: relative;
    z-index: 10;
}

/* navbar */
.navbar {
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    background-color: black;
}

a.nav-link {
    color: #fff;
}

ul,
li {
    gap: 15px;
}

.btn-book {
    display: flex;
    width: 180px;
    height: 56px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 11px;
    background: #a3353b;

    color: #fff;
    text-align: center;
    font-family: "Noto Serif Gujarati";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;
}

/* main */

.jumbotron-full {
    background-image: url("../assets/jumbotron.png");
    background-size: cover;
    text-align: center; /* Center align text */
    position: relative;
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150, 0, 0, 0.5); /* Warna overlay merah transparan */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
}

/* DESKTOP VERSION (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-color: #fff;
    }

    a.nav-link {
        margin: 5px;
    }

    a.nav-link:hover {
        font-weight: 600;
    }

    .jumbotron-full {
        height: 971px;
        margin-top: -165px;
    }

    .color-overlay {
        height: 971px;
    }

    .logoClassic {
        height: 1200px;
        width: 1200px;
        margin-top: 10%;
    }
}

/* Mobile */

@media (max-width: 768px) {
    .jumbotron-full {
        width: 100%;
        height: 30vh; /* Adjust padding for smaller screens */
    }

    .color-overlay {
        height: 30vh;
    }
    .logoClassic {
        height: 130px;
        width: 130px;
    }
}
