body {
    background-color: #000000;
}

header {
    position: relative;
    z-index: 100;
}

.info {
    z-index: 100;
}

/* navbar */
.navbar {
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
}

a.nav-link {
    color: #fff;
    z-index: 110;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: #a3353b;
}

ul,
li {
    gap: 5px;
}

.dropdown-item:hover {
    color: #a3353b !important;
}

.btn-book {
    display: flex;
    width: 90px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 11px;
    border: #a3353b 2px solid;
    background: transparent;
    color: #a3353b;
    text-align: center;
    font-family: "Noto Serif Gujarati";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Tombol Login */
.btn-login {
    display: flex;
    width: 90px;
    height: 40px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 11px;
    background: #8a2b33; /* Warna sedikit lebih terang */
    color: #fff;
    text-align: center;
    font-family: "Noto Serif Gujarati";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;
}

.auth {
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    color: #a3353b;
}

/* Efek hover saat kursor di atas tombol */
.btn-book:hover,
.btn-login:hover {
    background-color: #d6878c;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #fff;
    border: 2px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(1px);
}

/* Efek klik saat tombol ditekan */
.btn-book:active,
.btn-login:active {
    transform: translateY(2px);
}

a {
    text-decoration: none; /* Menghilangkan dekorasi teks */
}

a:hover {
    /* Menghilangkan efek hover */
    text-decoration: none;
    color: inherit; /* Menyesuaikan warna teks dengan waran tombol */
}

/* main */
/* Jumbotron */

/* .jumbotron-full {
    background-image: url("../assets/jumbotron.png");
    background-size: cover;
    text-align: center; 
    position: relative;
    z-index: 1;
} */

/* .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(150, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
} */

h1 {
    color: #fff;
}

/* carousel */
.carousel {
    position: relative;
    z-index: 100;
}

.kenapa {
    /* Atur gambar background dan efek cover */
    background-size: cover; /* Efek cover untuk memenuhi area section */
    background-position: center; /* Posisi gambar di tengah section */
    background-repeat: no-repeat; /* Hindari pengulangan gambar */
    z-index: 60;
    position: relative;
    width: 100%;
    background-color: black;
}

/* pelayanan */
.pelayanan {
    position: relative;
    z-index: 63;
    height: 180vh;
    margin-top: -80px;
}

.titlepelayanan {
    color: white;
    margin-top: 7%;
}

.lokasi {
    position: relative;
    z-index: 59;
}

.btn-bookingnow {
    display: flex;
    width: 292px;
    height: 56px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    color: #fff;
    text-align: center;
    font-family: "Noto Serif Gujarati";
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;

    border-radius: 10px;
    background: #a3353b;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-bookingnow:hover {
    background: #8a2b33;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.btn-bookingnow:active {
    background: #6f222a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

.produk {
    margin-top: 30%;
}

.btn-produk {
    display: flex;
    width: 222px;
    height: 56px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    color: #fff;
    text-align: center;
    font-family: "Noto Serif Gujarati";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;

    border-radius: 10px;
    border: 1px solid #fff;
    background: #a3353b;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-produk:hover {
    background: #8a2b33;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.btn-produk:active {
    background: #6f222a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}
/* customer */

.customer {
    position: relative;
    z-index: 61;
}

.btn-perm {
    display: flex;
    width: 292px;
    height: 56px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    color: #fff;
    text-align: center;
    font-family: Mukta;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.25px;

    border-radius: 10px;
    border: 1px solid #fff;
    background: #434b69;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-perm:hover {
    background: #576482;
    border-color: #576482;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.btn-perm:active {
    background: #333b56;
    border-color: #333b56;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

/* Optional: Stylize text inside section */

/* DESKTOP VERSION (desktops, 992px and up) */
@media (min-width: 992px) {
    body {
        background-color: #000000;
    }

    a.nav-link {
        margin: 5px;
    }

    a.nav-link:active {
        font-weight: 600;
        color: #ffffff;
    }
    a.nav-link:hover {
        font-weight: 600;
        color: #a3353b;
    }

    .jumbotron-full {
        height: 970px;
        margin-top: -165px;
    }

    .logoClassic {
        height: 900px;
        width: 1000px;
        margin-top: 100px;
    }

    /* carousel */

    .carousel {
        position: relative;
        margin-top: -20px;
    }

    /* kenapa */
    .kenapa {
        /* Atur gambar background dan efek cover */

        margin-top: 120px;
        height: 180vh;
    }

    .kenapa .row {
        margin-top: 120px;
    }

    .lokasi {
        z-index: 62;
        position: relative;
    }

    .booking {
        z-index: 63;
        position: relative;
        height: 320px;
        margin-top: -5%;
    }
}

/* Mobile */

@media (max-width: 768px) {
    .navbar {
        background-color: #3adee1;
    }

    /* jumbotron */
    .jumbotron {
        /* margin-top: 100px; */
        height: 40vh;
    }

    /* caraousel */
    .carousel {
        margin-top: -35px;
    }

    /* kenapa */
    .kenapa {
        margin-top: 60px;
        text-align: center;
    }

    .title {
        text-align: center;
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }

    .rowkenapa {
        margin-top: 60px;
    }

    .titleKenapa {
        font-size: 14px;
    }

    .desc {
        text-align: center;
    }

    .img-mobile {
        max-width: 100%;
        height: auto;
    }

    .pelayanan {
        position: relative;
        z-index: 61;
        height: auto;
        margin-top: -80px;
    }

    .titlepelayanan {
        margin-top: 35%;
    }
}

/* pelayanan */
