body, h1, h2, h3, h4, h5, h6, p, label, input, button, a {
    font-family: 'Montaga', sans-serif;
}

body {
    background: linear-gradient(180deg, #434B69 100%, #8494CF 100%);
    margin: 0;
    padding: 0;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50%;
    /* Lebar 50% dari layar */
    background-size: cover;
    background-image: url(../assets/img_login.png);
    background-position: left;
    /* Letakkan gambar di kiri */
    z-index: 1;
    /* Opacity 80% */
    position: relative; /* Tambahkan */
}

/* Menambahkan overlay dengan opacity */
.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Warna hitam dengan opacity 0.5 */
    z-index: 2; /* Menempatkan overlay di atas gambar */
}

.logo-barber {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Lebar maksimum sesuai dengan ukuran parent */
    max-height: 100%; /* Tinggi maksimum sesuai dengan ukuran parent */
    z-index: 2; /* Menempatkan logo di atas bg-image */
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    /* Lebar 50% dari layar */
    overflow: auto;
    /* Mengaktifkan scroll jika konten lebih besar dari container */
    padding: 20px;
    /* Menambahkan padding agar konten tidak menempel ke tepi */
    /* background-color: var(#484848, linear-gradient(180deg, #333232 0%, #484848 100%)); */
    background: linear-gradient(#434B69 80%, #8494CF 100%);
}

.nav-login-register {
    display: inline-flex;
    padding: 2vh 1vw;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 5vh;
    /* Menambahkan margin atas */
    margin-bottom: 5vh;
    /* Menambahkan margin bawah */
    font-family: 'Montaga', sans-serif;
    /* Mengatur font Montaga */
    font-size: 1.8vw;
    /* Mengatur ukuran teks */
    color: #fffdfd;
    text-decoration: none;
}

/* CSS untuk tombol login ketika dihover */
.nav-login-register:hover {
    color: #dd4047;
    text-decoration: none; /* Menghapus garis bawah */
    background-image: linear-gradient(to right, #A3353B 0%, #A3353B 50%, #A3353B 75%, #A3353B 100%);
    /* Mengatur gradien warna pada garis bawah */
    background-repeat: no-repeat;
    background-size: 100% 5px; /* Menetapkan ukuran gradien pada garis bawah */
    background-position: 0 100%; /* Menempatkan gradien pada bagian bawah tombol */
    border-bottom: 3px solid #A3353B;
}

/* CSS untuk tombol login ketika ditekan */
.nav-login-register.active {
    color: #EAEAEA; /* Warna teks "Login" */
    text-decoration: none; /* Menghapus garis bawah */
    background-image: linear-gradient(to right, #A3353B 0%, #A3353B 50%, #A3353B 75%, #A3353B 100%);
    /* Mengatur gradien warna pada garis bawah */
    background-repeat: no-repeat;
    background-size: 100% 5px; /* Menetapkan ukuran gradien pada garis bawah */
    background-position: 0 100%; /* Menempatkan gradien pada bagian bawah tombol */
    border-bottom: 3px solid #A3353B; /* Warna garis bawah untuk menandakan halaman aktif */
}

/* CSS untuk label email dan kata sandi */
label {
    color: #fff; /* Warna teks putih */
    font-size: 1.5vw; /* Ukuran font yang diperkecil */
}

/* CSS untuk input email dan kata sandi */
input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 1.4vw; /* Ukuran font yang diperkecil */
    color: #ffffff; /* Warna teks putih */
    background: linear-gradient(#FFFFFF 0%, #FFFFFF 100%);
    border-color:#A3353B; /* Warna border gold */
}

/* CSS untuk style input yang aktif */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    color: #ffffff;
    box-shadow: none; /* Menghilangkan shadow saat input aktif */
    border-color: #A3353B; /* Warna border gold saat input aktif */
}

.btn-submit {
    background: linear-gradient(
        90deg,
        #A3353B 0%,
        #A3353B 33%,
        #A3353B 66%,
        #A3353B 100%
    );
    font-size: 1.4vw; /* Ukuran font yang diperkecil */
}

p {
    color: white;
    font-size: 1.2vw;
}

.register-link {
    background: linear-gradient(90deg, #dd4047 0%, #dd4047 33%, #dd4047 66%, #dd4047 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2vw;
}

