@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap");

* {
    font-family: "montserrat";
}

/* CSS Halaman booking */
.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url(../assets/bg_booking.jpg);
    background-position: right;
    z-index: -1; /* Meletakkan latar belakang di bawah konten */
}

/* CSS untuk membuat navbar transparan */
.navbar {
    width: 100%;
}

.container {
    width: 70%;
    color: white;
}

.container .btn-logout {
    padding: 10px 35px;
    background-color: #434b69;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

/* start Pilih cabang */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.section .cabang {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.card {
    background-color: rgba(
        255,
        255,
        255,
        0
    ); /* Transparan dengan tingkat opasitas 50% */
    margin-top: 5%;
    border: none;
    justify-content: center;
    align-items: center;
    color: white;
}

.card img {
    max-width: 100%;
    border: 2px solid white;
    border-radius: 5px;
}

.card-img-top-wrapper {
    position: relative;
    width: 100%;
    padding-top: 75%; /* 4:3 Aspect Ratio */
    overflow: hidden;
}

.card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 white;
}

.card h5,
.card p {
    text-align: center;
}

.card a {
    border: none;
    border-radius: 10px;
    background-color: #434b69;
    padding: 5px 15%;
    color: white;
}

.card a:hover {
    color: white; /* Ensure the text color remains white on hover */
}

/* style css booking layanan */

.cabang-layanan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    gap: 10px;
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
}

.card-layanan {
    margin-top: 5%;
    flex-basis: calc(33.33% - 40px); /* Tiga card per baris dengan jarak antar card */
    box-sizing: border-box; /* Memastikan padding dan border termasuk dalam ukuran total card */
}

.card-layanan:hover {
    transform: scale(1.05);
    transition: 0.3s;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 white;
}

.card-layanan img {
    width: 160px;
    height: 160px;
    box-shadow: 0 0 10px 0 white;
    border-radius: 10px;
}

.card-layanan p {
    font-size: 12px;
}

.btn-panah {
    position: absolute;
    left: 15%;
    top: 27%;
}

.btn-panah a {
    background-color: transparent;
    border: none;
}

/* Untuk layar yang lebih kecil, atur ulang lebar card agar mereka turun ke bawah */
@media screen and (max-width: 600px) {
    .card-layanan {
        flex-basis: calc(
            50% - 50px
        ); /* 50% - 50px untuk hanya menampilkan 2 card dalam satu baris */
    }
}

/* CSS bookingArtist */
.cabang-artis {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    gap: 5%;
}

.card-artis {
    justify-content: center;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    color: white;
}

.card-artis:hover {
    transform: scale(1.05);
    transition: 0.3s;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0;
}

/* CSS bookingArtisDetail */
.cabang-artisDetail {
    display: inline-flex;
    width: 100%;
}

.card-artisDetail {
    margin: 20px;
    margin-left: 15%;
    justify-content: center;
    text-align: center;
    width: 25%;
    color: white;
}

.card-artisDetail img {
    width: 100%;
}

.btn-booking {
    background-color: #434b69;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    position: absolute;
    top: 70%;
    box-shadow: 0 0 10px 0 black;
    border: none;
}

.banner-comment {
    margin: 20px;
    justify-content: center;
    text-align: center;
    width: 50%;
    padding: 10px 30px;
    max-height: 65vh; /* Atur tinggi maksimal sesuai kebutuhan Anda */
    overflow-y: auto; /* Menambahkan scroll vertikal */
}

.banner-comment::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.banner-comment {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.comment {
    text-align: left;
    margin-top: 5%;
    padding: 25px 15px;
    border-radius: 15px;
    background-color: #d9d9d9ba;
    color: var(--Black, #262626);
    box-shadow: 0 0 5px 0 white;
}
